# Python
*.pyc
__pycache__/

# Django
*.log
*.pot
*.pyc
__pycache__/
db.sqlite3
media
downloads/*.xlsx

!downloads/.gitkeep

# Environments
.env
venv/
my_DEC12_ENV/

# IDEs
.idea/
.vscode/uploads/ForwardReport/**/*.csv
uploads/*.csv
uploads/ForwardReport/**/*.csv
